<html>
    <head>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
        <title><%=(locals.title) ? title :''%></title>
    </head>
    <body style="text-align: center;">
          <h2>Welcome</h2>
          <img src="/../images/logo.png">
    </body>

</html>
